hello_world_awr294x-evm_r5fss0-0_nortos_ti-arm-clang/
.theia/launch.json
S7_software/.cproject
S7_software/.ccsproject
S7_software/.settings/org.eclipse.core.resources.prefs
S7_software/.settings/org.eclipse.cdt.codan.core.prefs
S7_software/.project
S7_software/.clangd
S7_software/Debug/.clangd/.cache/clangd/index/__config.84B83C9D30215909.idx
S7_software/Debug/.clangd/.cache/clangd/index/__config_site.BB68708496F2E009.idx
S7_software/Debug/.clangd/.cache/clangd/index/__stdarg___gnuc_va_list.h.855E84A44CBA4F9F.idx
S7_software/Debug/.clangd/.cache/clangd/index/__stdarg___va_copy.h.4A42DCC603A51A7B.idx
S7_software/Debug/.clangd/.cache/clangd/index/__stdarg_va_arg.h.01BD24F1F761F744.idx
S7_software/Debug/.clangd/.cache/clangd/index/__stdarg_va_copy.h.340A66B468BEBEB5.idx
S7_software/Debug/.clangd/.cache/clangd/index/__stdarg_va_list.h.F37ADFBD7A3A4209.idx
S7_software/Debug/.clangd/.cache/clangd/index/_limits.h.AC77504213D484B2.idx
S7_software/Debug/.clangd/.cache/clangd/index/_stdint.h.082D790CEAAF1463.idx
S7_software/Debug/.clangd/.cache/clangd/index/_stdint.h.E1AB3D92810E0EFF.idx
S7_software/Debug/.clangd/.cache/clangd/index/_stdint40.h.C77662FD2C7DDC73.idx
S7_software/Debug/.clangd/.cache/clangd/index/_ti_config.h.739C593E591E231F.idx
S7_software/Debug/.clangd/.cache/clangd/index/_types.h.2FCE6052C6E924F5.idx
S7_software/Debug/.clangd/.cache/clangd/index/_types.h.E215BFAC90B3EB10.idx
S7_software/Debug/.clangd/.cache/clangd/index/AddrTranslateP.h.B594E62DB5380608.idx
S7_software/Debug/.clangd/.cache/clangd/index/alloca.h.D75CA0F35369E665.idx
S7_software/Debug/.clangd/.cache/clangd/index/BoardInit.c.5B343343C2EA38E5.idx
S7_software/Debug/.clangd/.cache/clangd/index/BoardInit.c.DEC2D2C0D99C5148.idx
S7_software/Debug/.clangd/.cache/clangd/index/BoardInit.h.41451045E36FC3D2.idx
S7_software/Debug/.clangd/.cache/clangd/index/CacheP.h.1515397C4D68F569.idx
S7_software/Debug/.clangd/.cache/clangd/index/cdefs.h.4135BA47BD21914A.idx
S7_software/Debug/.clangd/.cache/clangd/index/ClockP.h.50956E0F9E777376.idx
S7_software/Debug/.clangd/.cache/clangd/index/csl_utils.h.F764A03E03DF549A.idx
S7_software/Debug/.clangd/.cache/clangd/index/cslr.h.6DE1028674C001F7.idx
S7_software/Debug/.clangd/.cache/clangd/index/cslr_ar_rfanacio.h.EBF64AE50512D803.idx
S7_software/Debug/.clangd/.cache/clangd/index/cslr_bss_ccmr4.h.73EB9653124B3641.idx
S7_software/Debug/.clangd/.cache/clangd/index/cslr_bss_config_ram.h.D4492CC24309895C.idx
S7_software/Debug/.clangd/.cache/clangd/index/cslr_bss_dfe.h.76120C6E4C5E571B.idx
S7_software/Debug/.clangd/.cache/clangd/index/cslr_bss_dma_reg.h.2AA65A4AD9E219A7.idx
S7_software/Debug/.clangd/.cache/clangd/index/cslr_bss_fft.h.3F788C9A052B1285.idx
S7_software/Debug/.clangd/.cache/clangd/index/cslr_bss_gpcfg_reg.h.4475A894A764261D.idx
S7_software/Debug/.clangd/.cache/clangd/index/cslr_bss_profile_ram.h.95C26E78C333D4E0.idx
S7_software/Debug/.clangd/.cache/clangd/index/cslr_bss_prog_filt.h.1354D025DBD23D92.idx
S7_software/Debug/.clangd/.cache/clangd/index/cslr_bss_rampgen.h.18FBFC5F23882B00.idx
S7_software/Debug/.clangd/.cache/clangd/index/cslr_bss_vim_parity.h.4C6CC8FBB25405FF.idx
S7_software/Debug/.clangd/.cache/clangd/index/cslr_dss_cm4_ctrl.h.F58D14BA0E9D4797.idx
S7_software/Debug/.clangd/.cache/clangd/index/cslr_dss_ctrl.h.D826FCF32665B365.idx
S7_software/Debug/.clangd/.cache/clangd/index/cslr_dss_ecc_agg.h.51C4A35EB884F577.idx
S7_software/Debug/.clangd/.cache/clangd/index/cslr_dss_rcm.h.F4F1D8F33B0B1EE0.idx
S7_software/Debug/.clangd/.cache/clangd/index/cslr_edma.h.29A0B743DDEE8093.idx
S7_software/Debug/.clangd/.cache/clangd/index/cslr_efuse_farm.h.AFEFD154310458B1.idx
S7_software/Debug/.clangd/.cache/clangd/index/cslr_firewall_defines.h.477910B6085F8974.idx
S7_software/Debug/.clangd/.cache/clangd/index/cslr_hsm_ctrl.h.ED469BD8E1552C1D.idx
S7_software/Debug/.clangd/.cache/clangd/index/cslr_hsm_soc_ctrl.h.5CF3111880B6FF7F.idx
S7_software/Debug/.clangd/.cache/clangd/index/cslr_intr_c66x.h.103870C2FE19F985.idx
S7_software/Debug/.clangd/.cache/clangd/index/cslr_intr_cm4.h.C09CE1AA329E948F.idx
S7_software/Debug/.clangd/.cache/clangd/index/cslr_intr_dss.h.8C4FF877CEDF3994.idx
S7_software/Debug/.clangd/.cache/clangd/index/cslr_intr_esm_dss.h.C76A0603E545424E.idx
S7_software/Debug/.clangd/.cache/clangd/index/cslr_intr_esm_mss.h.410707827E3A772D.idx
S7_software/Debug/.clangd/.cache/clangd/index/cslr_intr_mss.h.220FA79944EEE0F8.idx
S7_software/Debug/.clangd/.cache/clangd/index/cslr_isc_ctrl_defines.h.582F54770155A429.idx
S7_software/Debug/.clangd/.cache/clangd/index/cslr_mss_ctrl.h.61C576A977C44087.idx
S7_software/Debug/.clangd/.cache/clangd/index/cslr_mss_ecc_agg_mss.h.A3508F362C4DA007.idx
S7_software/Debug/.clangd/.cache/clangd/index/cslr_mss_ecc_agga.h.DA6B0464E8BD9440.idx
S7_software/Debug/.clangd/.cache/clangd/index/cslr_mss_ecc_aggb.h.578D97BAC5240E71.idx
S7_software/Debug/.clangd/.cache/clangd/index/cslr_mss_iomux.h.EB66F29A7036FF18.idx
S7_software/Debug/.clangd/.cache/clangd/index/cslr_mss_rcm.h.69CA77909EF5A5CD.idx
S7_software/Debug/.clangd/.cache/clangd/index/cslr_mss_toprcm.h.BBB00AB8BE51C53D.idx
S7_software/Debug/.clangd/.cache/clangd/index/cslr_mss_vim.h.BBC39D907655FE2D.idx
S7_software/Debug/.clangd/.cache/clangd/index/cslr_pbist.h.33AEC12482DAC4A2.idx
S7_software/Debug/.clangd/.cache/clangd/index/cslr_rss_ctrl.h.5EE52DA134D32112.idx
S7_software/Debug/.clangd/.cache/clangd/index/cslr_rss_ecc_agg.h.328660A33F192835.idx
S7_software/Debug/.clangd/.cache/clangd/index/cslr_rss_proc_ctrl.h.84D54B3948E23A5F.idx
S7_software/Debug/.clangd/.cache/clangd/index/cslr_rss_proc_ecc_agg.h.472590D01526175F.idx
S7_software/Debug/.clangd/.cache/clangd/index/cslr_rss_rcm.h.0D6F9B4A284AD10B.idx
S7_software/Debug/.clangd/.cache/clangd/index/cslr_sci.h.57162823496ADDF5.idx
S7_software/Debug/.clangd/.cache/clangd/index/cslr_soc.h.94E580D4392DB8A3.idx
S7_software/Debug/.clangd/.cache/clangd/index/cslr_soc.h.E70F8667E5F825EB.idx
S7_software/Debug/.clangd/.cache/clangd/index/cslr_soc_baseaddress.h.56718F3F8112BA0A.idx
S7_software/Debug/.clangd/.cache/clangd/index/cslr_soc_bss_baseaddress.h.C332414CFAB62CD7.idx
S7_software/Debug/.clangd/.cache/clangd/index/cslr_soc_defines.h.8E8940F11DB6D516.idx
S7_software/Debug/.clangd/.cache/clangd/index/cslr_soc_dsp_baseaddress.h.3B796D7054C43689.idx
S7_software/Debug/.clangd/.cache/clangd/index/cslr_soc_m4_baseaddress.h.FAFDB49932CCEE21.idx
S7_software/Debug/.clangd/.cache/clangd/index/cslr_soc_r5_baseaddress.h.508ACF9AADE50A8E.idx
S7_software/Debug/.clangd/.cache/clangd/index/cslr_top_ctrl.h.E1F1214714BEDFC3.idx
S7_software/Debug/.clangd/.cache/clangd/index/cslr_tpcc.h.83F8A34F90C99ED9.idx
S7_software/Debug/.clangd/.cache/clangd/index/cslr_tptc.h.EB8A53D5D424FD34.idx
S7_software/Debug/.clangd/.cache/clangd/index/cslr_uart.h.F9F818A0B6E277C8.idx
S7_software/Debug/.clangd/.cache/clangd/index/CycleCounterP.h.99BFA057875C51FA.idx
S7_software/Debug/.clangd/.cache/clangd/index/DebugP.h.B6EF9FBEBE2D7271.idx
S7_software/Debug/.clangd/.cache/clangd/index/edma.h.65CA3E78B1D789CD.idx
S7_software/Debug/.clangd/.cache/clangd/index/edma.h.CE9A32920C31EA2F.idx
S7_software/Debug/.clangd/.cache/clangd/index/empty.c.B54F5084F155C76F.idx
S7_software/Debug/.clangd/.cache/clangd/index/hw_types.h.0DD4DB84B2CE9005.idx
S7_software/Debug/.clangd/.cache/clangd/index/HwiP.h.DEF46E911E6B6267.idx
S7_software/Debug/.clangd/.cache/clangd/index/linkage.h.6BA9453FE29BD914.idx
S7_software/Debug/.clangd/.cache/clangd/index/main.c.4CA7742E9DD21B4F.idx
S7_software/Debug/.clangd/.cache/clangd/index/main.c.DC1A786B6003E458.idx
S7_software/Debug/.clangd/.cache/clangd/index/main.h.D9AC402F7AFBD411.idx
S7_software/Debug/.clangd/.cache/clangd/index/MpuP_armv7.h.8B4B5A28371740DE.idx
S7_software/Debug/.clangd/.cache/clangd/index/pinmux.h.32FB15C172ED7507.idx
S7_software/Debug/.clangd/.cache/clangd/index/pinmux.h.B5B3FFF73C4A5FDB.idx
S7_software/Debug/.clangd/.cache/clangd/index/SemaphoreP.h.1B34B91D81442D06.idx
S7_software/Debug/.clangd/.cache/clangd/index/soc.h.28D853BF6F1FB3E2.idx
S7_software/Debug/.clangd/.cache/clangd/index/soc.h.AB1B8C340AD77696.idx
S7_software/Debug/.clangd/.cache/clangd/index/soc_config.h.D5C5B8E0141E5C72.idx
S7_software/Debug/.clangd/.cache/clangd/index/soc_config.h.E0C0808A6CFE78B4.idx
S7_software/Debug/.clangd/.cache/clangd/index/soc_rcm.h.697D8B13F9F11C91.idx
S7_software/Debug/.clangd/.cache/clangd/index/stdarg.h.8DC02BC8C394F6AC.idx
S7_software/Debug/.clangd/.cache/clangd/index/stdint.h.682DCA0A5C4BB0CA.idx
S7_software/Debug/.clangd/.cache/clangd/index/stdint.h.8991EA41C5D2984E.idx
S7_software/Debug/.clangd/.cache/clangd/index/stdint.h.92EB44FF68345497.idx
S7_software/Debug/.clangd/.cache/clangd/index/stdint.h.D70C963402C78AC2.idx
S7_software/Debug/.clangd/.cache/clangd/index/stdio.h.62C5038BC4DA83ED.idx
S7_software/Debug/.clangd/.cache/clangd/index/stdio.h.9BBC36E0387089D2.idx
S7_software/Debug/.clangd/.cache/clangd/index/stdlib.h.08CDBF35E988DAC0.idx
S7_software/Debug/.clangd/.cache/clangd/index/stdlib.h.8E88823CBDC3DAC3.idx
S7_software/Debug/.clangd/.cache/clangd/index/SystemP.h.CBEA525D33B6E045.idx
S7_software/Debug/.clangd/.cache/clangd/index/ti_board_config.c.6D58358AA9B270C6.idx
S7_software/Debug/.clangd/.cache/clangd/index/ti_board_config.c.E158863D41AE6FB2.idx
S7_software/Debug/.clangd/.cache/clangd/index/ti_board_config.h.00ADD7308F5E45C1.idx
S7_software/Debug/.clangd/.cache/clangd/index/ti_board_config.h.FBD534A38968B930.idx
S7_software/Debug/.clangd/.cache/clangd/index/ti_board_open_close.c.029FB7F3B1A556D9.idx
S7_software/Debug/.clangd/.cache/clangd/index/ti_board_open_close.c.CBA4E45C8A51EE90.idx
S7_software/Debug/.clangd/.cache/clangd/index/ti_board_open_close.h.49BE2F111762FEB4.idx
S7_software/Debug/.clangd/.cache/clangd/index/ti_board_open_close.h.77503DFFFF17EDAE.idx
S7_software/Debug/.clangd/.cache/clangd/index/ti_dpl_config.c.854FED7F77EDF769.idx
S7_software/Debug/.clangd/.cache/clangd/index/ti_dpl_config.c.D7974203016CDBD4.idx
S7_software/Debug/.clangd/.cache/clangd/index/ti_dpl_config.h.8B0058F7E6AA0695.idx
S7_software/Debug/.clangd/.cache/clangd/index/ti_dpl_config.h.E9DAEE40AAEB7885.idx
S7_software/Debug/.clangd/.cache/clangd/index/ti_drivers_config.c.B9A67A978BA0CAD1.idx
S7_software/Debug/.clangd/.cache/clangd/index/ti_drivers_config.c.DAE2D3FC3D2829C8.idx
S7_software/Debug/.clangd/.cache/clangd/index/ti_drivers_config.h.4C7E648E9E23ACE8.idx
S7_software/Debug/.clangd/.cache/clangd/index/ti_drivers_config.h.EBCCE33247436DDF.idx
S7_software/Debug/.clangd/.cache/clangd/index/ti_drivers_open_close.c.CC1AC2C88817A534.idx
S7_software/Debug/.clangd/.cache/clangd/index/ti_drivers_open_close.c.E682A9DDEEC9035C.idx
S7_software/Debug/.clangd/.cache/clangd/index/ti_drivers_open_close.h.7B76EED3BAA3653F.idx
S7_software/Debug/.clangd/.cache/clangd/index/ti_drivers_open_close.h.EE3845D0132F217A.idx
S7_software/Debug/.clangd/.cache/clangd/index/ti_enet_config.c.5F274DCF4CB0C3E5.idx
S7_software/Debug/.clangd/.cache/clangd/index/ti_enet_config.c.CAEFEFA0B6463631.idx
S7_software/Debug/.clangd/.cache/clangd/index/ti_enet_lwipif.c.AD40B675A7A7BD11.idx
S7_software/Debug/.clangd/.cache/clangd/index/ti_enet_lwipif.c.ECA88046B35B6926.idx
S7_software/Debug/.clangd/.cache/clangd/index/ti_enet_open_close.c.B9BE8FD12CB56DBA.idx
S7_software/Debug/.clangd/.cache/clangd/index/ti_enet_open_close.c.BC71EBE0855D17D3.idx
S7_software/Debug/.clangd/.cache/clangd/index/ti_enet_soc.c.44402A178637A32F.idx
S7_software/Debug/.clangd/.cache/clangd/index/ti_enet_soc.c.A82713375AAAAF99.idx
S7_software/Debug/.clangd/.cache/clangd/index/ti_pinmux_config.c.9949A4AF19E937F0.idx
S7_software/Debug/.clangd/.cache/clangd/index/ti_pinmux_config.c.F14684436C2CAF9F.idx
S7_software/Debug/.clangd/.cache/clangd/index/ti_power_clock_config.c.81A9DE74474AAC3D.idx
S7_software/Debug/.clangd/.cache/clangd/index/ti_power_clock_config.c.9EE40EF85848375E.idx
S7_software/Debug/.clangd/.cache/clangd/index/tistdtypes.h.63A462AED5EEFBC0.idx
S7_software/Debug/.clangd/.cache/clangd/index/uart.h.C63C62CAD9576655.idx
S7_software/Debug/.clangd/.cache/clangd/index/uart_sci.h.31B17C6370056CB5.idx
S7_software/Debug/.clangd/compile_commands.json
S7_software/Debug/ccsObjs.opt
S7_software/Debug/empty.Debug.map
S7_software/Debug/empty_awr294x-evm_r5fss0-0_nortos_ti-arm-clang.appimage
S7_software/Debug/empty_awr294x-evm_r5fss0-0_nortos_ti-arm-clang.appimage_qspi
S7_software/Debug/empty_awr294x-evm_r5fss0-0_nortos_ti-arm-clang.appimage_xip
S7_software/Debug/empty_awr294x-evm_r5fss0-0_nortos_ti-arm-clang.out
S7_software/Debug/empty_awr294x-evm_r5fss0-0_nortos_ti-arm-clang.rprc
S7_software/Debug/empty_awr294x-evm_r5fss0-0_nortos_ti-arm-clang.rprc_xip
S7_software/Debug/empty_awr294x-evm_r5fss0-0_nortos_ti-arm-clang_linkInfo.xml
S7_software/Debug/makefile
S7_software/Debug/objects.mk
S7_software/Debug/S7_software.appimage
S7_software/Debug/S7_software.appimage_qspi
S7_software/Debug/S7_software.appimage_xip
S7_software/Debug/S7_software.rprc
S7_software/Debug/S7_software.rprc_xip
S7_software/Debug/S7_software_linkInfo.xml
S7_software/Debug/sources.mk
S7_software/Debug/subdir_rules.mk
S7_software/Debug/subdir_vars.mk
S7_software/Debug/temp_stdout_Debug.txt
S7_software/empty_awr294x-evm_r5fss0-0_nortos_ti-arm-clang.rprc
S7_software/example.syscfg
S7_software/linker.cmd
S7_software/makefile_ccs_bootimage_gen
S7_software/S7_software.rprc
S7_software/syscfg_c.rov.xs
S7_software/targetConfigs/AWR2944.ccxml
S7_software/targetConfigs/readme.txt
