hello_world_awr294x-evm_r5fss0-0_nortos_ti-arm-clang/
.theia/launch.json
S7_software/.cproject
S7_software/.ccsproject
S7_software/.settings/org.eclipse.core.resources.prefs
S7_software/.settings/org.eclipse.cdt.codan.core.prefs
S7_software/.project
S7_software/.clangd
S7_software/Debug/
S7_software/empty_awr294x-evm_r5fss0-0_nortos_ti-arm-clang.rprc
S7_software/example.syscfg
S7_software/linker.cmd
S7_software/makefile_ccs_bootimage_gen
S7_software/S7_software.rprc
S7_software/syscfg_c.rov.xs
S7_software/targetConfigs/AWR2944.ccxml
S7_software/targetConfigs/readme.txt
